{{#if logged_in}}
<h4 class="mb-4">{{user.username}}Your Dashboard</h4>
{{/if}}
<main class="container dashboard-background mt-4">
<div class="row">
    <div class="col-12">
        <br>
    </div>
    <div class="text-center">
        <br>
    <a href="/newpost" class="btn btn-success text-center">New Post <i class="bi bi-pencil-square"></i></a>
    </div>
</div>
<br>
<br>
<br>
<div class="dashboard-background">
  <div class="row">
    {{#each posts}}
      <div class="col-md-6 text-center">
        <div class="card mb-3">
          <div class="card-header">
            <h2 class="card-title text-center">
              <a href="/post/{{id}}" class="text-dark">{{title}}</a>
            </h2>
          </div>
          <div class="card-body text-dark post-background">
            <p>{{user.username}} posted on {{format_date createdAt}}</p>
            <p><a href="/editpost/{{id}}" class="btn btn-warning btn-sm"><i class="bi bi-pencil-fill"></i> Edit Post</a></p>
          </div>
        </div>
      </div>
    {{/each}}
    {{#if (eq posts.length 0)}}
    <p class="text-center">Your posts here:</p>
    <br>
    <br>
    {{/if}}
  </div>
  </div>
</main>
