<main class="container mt-4">
<div class="row">
    <div class="col-12 text-center">
        {{#each posts}}
        <h1 class="mb-4">{{user.username}}'s Dashboard</h1>
        <br>
        <br>
        <a href="/newpost" class="btn btn-success">New Post <i class="bi bi-pencil-square"></i></a>
    </div>
    {{/each}}
</div>
<br>
<br>
<br>
<h1 class="mb-4 ">Tech Blogs:</h1>
{{#each posts}}
<div class="post-container post mb-3 card text-center">
        <h2><a href="/post/{{id}}" class="text-decoration-none text-reset ">{{title}}</a></h2>
        <p>{{user.username}} posted on {{format_date createdAt}}</p>
        <a href="/editpost/{{id}}" class="btn btn-warning"><i class="bi bi-pencil-fill"></i> Edit Post</a>
</div>
{{/each}}
</main>
