<main class="container mt-5">
  <article>
    <h1 class="text-center">{{title}}</h1>
    <p class="text-center">{{user.username}} posted on {{format_date createdAt}}</p>
    <p>{{{content}}}</p>
  </article>
  {{#if logged_in}}
    <form class="new-comment-form mb-3">
      <div class="mb-3">
        <label for="comment" class="form-label">Add Comment:</label>
        <textarea
          class="form-control"
          id="content-new-comment"
          rows="3"
          placeholder="Add comment..."
        ></textarea>
      </div>
      <div class="text-center">
    <button type="submit" class="btn btn-primary">Comment <i class="bi bi-arrow-up-square"></i></button>
    </div>
    </form>
  {{/if}}
  <h2>Comments:</h2>
{{#if logged_in}}
  {{#each comments}}
    <div class="comment mb-3">
      <p><mark>{{user.username}}</mark></p>
      <p><em>{{comment_text}}</em></p>
      <p class="text-end"><small>{{format_date createdAt}}</small></p>
      {{#if (eq user_id ../user_id)}}
      {{!-- checks if the user_id of current comment being itterated over is equal to the parent context of user_id(the logged-in user) --}}
        <button type="button" class="btn btn-danger btn-sm delete-comment" data-comment-id="{{id}}">Delete <i class="bi bi-trash-fill"></i></button>
      {{/if}}
    </div>
  {{/each}}
{{else}}
  <p class="text-end"><a href="/login">Login here</a> to delete</p>
{{/if}}
</main>

